<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f2d5e8f9-9911-4b92-9f4a-2e3bdd2b7041/resourceGroups/rgpazewdmlns001origin/providers/Microsoft.Web/sites/ApiDemoApp001</ResourceId>
    <ResourceGroup>rgpazewdmlns001origin</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apidemoapp001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a8ce0ed2-2b51-46c8-917c-1ef17e68450d</ProjectGuid>
    <PublishUrl>https://apidemoapp001.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ApiDemoApp001</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>